/* Set a background image by replacing the URL below */
body {
    background-image: url(../img/Mural2.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }